{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    <!-- Extra Meta tags -->
    <meta name="description" content="Titbit is a free social networking site where users broadcast short posts.">
    <meta name="keywords"
        content="social, media, connect, love titbit, post, twitter, twitt, follow, follower, timeline, influencer, titbit, titbit feed, titbit register, titbit sign up, news">
    <meta name="Author" content="Lucimeri Andretta">
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block corejs %}
    <!-- jQuery and Bootstrap  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    {% endblock %}


    <link rel="shortcut icon" href=" {% static 'images/shortcut-icon.png' %}"  type="image/x-icon">
    <title>Titbit {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Titbit</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile_list' %}">Profile List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log Out</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <!-- Container for content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                {% block content %}
                <!-- Content Goes here -->
                {% endblock content %}
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="text-center p-3 fixed-bottom text-light bg-dark">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Social media -->
            <div class="mb-1">
                <p>Get in touch
                <!-- Linkedin -->
                <a class="btn btn-floating m-1 link-light" href="https://www.linkedin.com/in/luandretta/"
                    target="_blank" rel="nofollow" role="button"><i class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-floating m-1 link-light" href="https://github.com/luandretta" target="_blank"
                    rel="nofollow" role="button"><i class="fab fa-github"></i></a>
                </p>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3 link-light">
            Developed By <a href="https://github.com/luandretta" target="_blank" rel="nofollow">Lucimeri Andretta</a>
            for Code Institute's Portfolio Project 4 - 2023
        </div>
    </footer>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/1c241afabe.js" crossorigin="anonymous"></script>

</body>

</html>