{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">

    <h1>Login</h1><br/>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Your username" aria-describedby="Your Username">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Your password" aria-describedby="Your password">
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>

</div>

{% endblock %}