{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Profile List</h1>
<br/>
<!-- Profile List -->
{% if profiles %}
    {% for profile in profiles %}

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <!-- Profile - User's picture or default picture -->
          <div class="col-md-4">
            {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" alt="{{profile.user.username}}" width=200 height=200 class="img-fluid rounded-start">           
            {% else %}
            <img src="{% static 'images/user.png' %}" alt="Profile" class="img-fluid rounded-start">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <!-- Profile - username -->
              <h5 class="card-title">{{ profile.user.username }}</h5>
              <p class="card-text"><a href="{% url 'profile' profile.user.id %}">@{{ profile.user.username|lower }}</a></p>
              <p class="card-text"><small class="text-muted">Last Updated: {{ profile.date_modified }}</small></p>
            </div>
          </div>
        </div>
    </div>

    {% endfor %}

{% endif %}

{% endblock %}

