{% extends 'base.html' %}
{% block content %}

{% if profile %}

<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <!-- Own profile -->
            <h1> {{ profile.user.username}}'s Profile</h1><br />
            {% if posts %}
                {% for post in posts %}
                    <div class="alert alert-dark" role="alert">
                        @{{ post.user.username }}: {{ post.body }}<br/>
                        <small class="text-muted">
                            {{ post.created_at }} 
                        </small>
                    </div>
                    <br/><br />
                {% endfor %}
            {% endif %}
        </div>
        <br/>
        <!--Follow and unfollow -->
        <div class="col-4">
            <br/><br/>
            <!-- Follows -->
            <div class="card">
                <h5 class="card-header">Follows</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% for following in profile.follows.all %}
                        <a href="{% url 'profile' following.user.id %}">
                            @{{ following }}</a><br />
                        {% endfor%}
                    </p>
                </div>
            </div>
            <br /><br />
            <!-- Followed by -->
            <div class="card">
                <h5 class="card-header">Followed by</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% for following in profile.followed_by.all %}
                        <a href="{% url 'profile' following.user.id %}">
                            @{{ following }}</a><br />
                        {% endfor%}
                    </p>
                </div>
            </div>
            <br />
            <form method="POST">
                {% csrf_token %}
                {% if profile in user.profile.follows.all %}
                <button class="btn btn-danger" name="follow" value="unfollow" type="submit">Unfollow
                    @{{ profile.user.username|lower }} </button>
                {% else %}
                <button class="btn btn-secondary" name="follow" value="follow" type="submit">Follow
                    @{{ profile.user.username|lower }} </button>
                {% endif %}
            </form>
            <br/>
            <!-- Update profile only in own profile page -->
            {% if request.user.id == profile.user.id %}
            <a href="{% url 'update_user' %}" class="btn btn-secondary">Update Profile</a>
            {% endif %}
        </div>
    </div>
</div>


{% endif %}

{% endblock %}