{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row h-100">
        <div class="col col-lg-6 col-md-8 col-sm-12 m-auto p-3">
            <div class="card border-0">
                <h1>Register</h1><br />
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br />
                    <button type="submit" class="btn btn-secondary">Register</button><br /><br />
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}